Flask==2.0.1
flask-cors==3.0.10
langchain==0.0.266
pandas==1.5.3
numpy==1.26.0 --only-binary numpy
transformers
tokenizers
torch
sqlalchemy
gunicorn==20.1.0
pymongo==4.3.3
python-dotenv==0.19.0
pdf2image==1.16.0
PyPDF2==1.28.0
pytesseract==0.3.9
pillow==9.4.0
uuid==1.30
pytest==7.3.1
pytest-flask==1.2.0
pymupdf==1.22.5
jinja2==3.0.3
pydantic==1.10.8
huggingface-hub==0.16.4
openai==0.28.1
pypdf==3.6.0
safety
colorama
black
flake8
flake8-bugbear
pytest-cov
requests
flask-jwt-extended
python-jose
python-multipart
werkzeug==2.0.3
