Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-${AWS::Region}-${AWS::AccountId}"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

option_settings:
  aws:elasticbeanstalk:application:environment:
    USE_DYNAMODB: true
    DYNAMODB_REGION: '#{AWS::Region}'
    DEFAULT_LANGUAGE: he
    SECRET_KEY: 28
    JWT_SECRET: 210
    PORT: 10000
    FLASK_ENV: production
    LLM_PROVIDER: huggingface
