packages:
  yum:
    python3-devel: []
    gcc: []
    postgresql-devel: []
    poppler-utils: []
    
commands:
  01_install_tesseract:
    command: |
      amazon-linux-extras install epel -y
      yum install -y tesseract tesseract-langpack-eng

  02_create_required_dirs:
    command: |
      mkdir -p /var/app/current/uploads /var/app/current/data/embeddings /var/app/current/data/templates /var/app/current/logs /var/app/current/templates
      chmod -R 755 /var/app/current/uploads /var/app/current/data /var/app/current/logs /var/app/current/templates
      chown -R webapp:webapp /var/app/current/uploads /var/app/current/data /var/app/current/logs /var/app/current/templates
