Resources:
  DynamoDBAccessPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: DynamoDBAccess
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - 'dynamodb:*'
            Resource: '*'
      Roles:
        - {"Fn::GetOptionSetting": {"Namespace": "aws:autoscaling:launchconfiguration", "OptionName": "IamInstanceProfile", "DefaultValue": "aws-elasticbeanstalk-ec2-role"}}
